.container{
  position: sticky;
  margin-left: 10px;
  top: 40px;
  width: 100%;
}

.user{
display: flex;
align-items: center;
gap: 20px;
margin-bottom: 20px;
}

.userImage{
border-radius: 50%;
object-fit: cover;
}
.userDetail{
display: flex;
flex-direction: column;
}

.username{
font-weight: 500;
font-size: 18px;
white-space: nowrap;
}


.userRole{
font-size: 12px; 
margin-top: 10px;
color: var(--textSoft);
}

.list{
list-style: none;
font-size: 14px;
}

.cat{
color: var(--textSoft);
/* text-decoration: underline; */
font-weight: bold;
font-size: 14px;
margin: 10px 0px;
}

.logout{
font-size: 14px;
padding: 20px;
margin: 5px 0px;
display: flex;
align-items: center;
gap: 10px;
cursor: pointer;
border-radius: 10px;
background: none;
border: none;
color: white;
width: 100%;
}

.logout:hover{
background-color: #2e374a;
}

