.container{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 20px;
    width: calc(100vw-100px);
    padding: 30px;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 8px;

}


.title{
    flex: 1;
    color: var(--text);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
    text-align: center;
}

.menu{
    flex: 1;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

