.container{
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    padding: 10px;
    margin-top: 0px;
    width: 100%;
    gap: 20px;
    cursor: pointer;
}

.form{
    position: relative;
    flex-direction: column;
    align-items: start;
    width: 100%;
    border-radius: 20px;
    padding: 20px;

}

.start{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;

}


.form input{
    padding: 15px;
    width: 100%;
    border: 1px solid #44516d;
    border-radius: 10px;
    background-color: transparent;
    color: var(--text);
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
}


.equipment,
.name,
.number,
.status {
    align-self: flex-start;
    width: 100%;
    font-size: 14px;
}    

.select{
    background-color: transparent;
    color: var(--textSoft);
    align-self: flex-start;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #44516d;
    margin-top: 5px;
    margin-bottom: 20px;
}

.button{
    padding: 15px;
    margin-top: 20px;    
    width: 10%;
    background-color: var(--button);
    color: var(--text);
    border: none;
    cursor: pointer;
    border-radius: 25px;
}

.true,
.false{
    color: var(--textSoft);
    font-weight: bold;
    background-color: black;
    padding: 30px;
}

.detail{
    align-self: flex-start;
    width: 100%;
    font-size: 14px;
}

.detail input{
    align-self: flex-start;
    width: 100%;
    font-size: 14px;

}
.details{
    padding: 15px;
    width: 100%;
    border: 1px solid #44516d;
    border-radius: 10px;
    background-color: transparent;
    color: var(--text);
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
}


.form p{
    color: #5f91f5;
}
