.container {
  background: none;
  padding: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.title {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 40px;
}

.user {
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  align-items: flex-start;
  
}

.userImage {
  border-radius: 50%;
  margin-right: 20px;
  width: 100px;
  height: 100px;
}

.userDetail {
  position: relative;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.label{
  font-size: 16px;
  color: #ffffff;
  margin-bottom: 5px;
  text-align: left;
  display: inline-block;
  width: 120px;
  margin: 10px;
  font-weight: bold;
}
.value{
  padding: 5px;
  padding-right: 30px;
  border: none;
  font-size: 16px;
  background-color: black;
  text-align: left;
  color: white;
  display: inline-block;
  border-bottom: 1px solid var(--button);
  margin-left: 10px;
  font-style: italic;
}


.loading {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
    
.spinner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
.merror{
  color: #5f91f5;
  margin-left: 10px;
}
.button{
  padding: 15px;
  margin-top: 20px;    
  width: 100%;
  background-color: var(--button);
  color: var(--text); 
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.button:disabled {
  background-color: black;
  border: 1px solid var(--button);
  cursor: not-allowed;
}


.detailItem {
  position: relative;
  display: flex;
  align-items: center; 
}

.passwordToggle {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}