.container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    gap: 15px;
}

.title{
    color: var(--text);
    font-weight: bold;
    font-size: 25px;
    margin-top: 50px;
}
.desc{
    color: var(--text);
    font-size: 15px;}


.username,
.password {
  align-self: flex-start;
  width: 100%;
  font-size: 15px;
  
}

.form{
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);
    padding: 50px;
    border-radius: 15px;
    width: 500px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    align-items: center;
}

.form input{
    padding: 20px;
    width: 100%;
    border: 1px solid #44516d;
    border-radius: 10px;
    background-color: transparent;
    color: var(--text);
    margin-top: 10px;
    font-size: 16px;
    
}

.form button{
    padding: 15px;
    width: 100%;
    background-color: var(--button);
    color: var(--text);
    border: none;
    cursor: pointer;
    border-radius: 25px;
    margin-bottom: 50px;
}
.bgi{
    position: absolute;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.checkbox{
    display: flex;
    align-items: center;
    margin-right: 10px;
    gap: 10px;
    padding: 10px;
    margin-top: 0px;
    font-size: 15px;
    white-space: nowrap;
}

.checkbox input[type="checkbox"] {
    margin: 0; 
  }


.forgot{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    margin-top: 0px;
    font-size: 15px;
    white-space: nowrap;
    color: #769eee;
    font-style: italic;

}

.btn{
    width: 100%;
}

.form p{
    color:rgb(185, 185, 2);
}
