.container{
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 20px;
    width: calc(100vw-100px);
    padding: 30px;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
    border-radius: 8px;

}


.title{
    flex: 1;
    color: var(--text);
    font-weight: bold;
    text-transform: capitalize;
}

.menu{
    flex: 3;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.search{
    flex: 3;
    display: flex;
    width: 70%;
    gap: 10px;
    background-color: transparent;
    backdrop-filter: blur(0px);
    border: 1px inset #4b5dac;
    padding: 15px;
    border-radius: 10px;
}

.input{
    background-color: transparent;
    border: none;
    color: var(--text);
    width: 100%;
    outline: none;
    font-size: 14px;
}

.icons{
    flex: 1;
    display: flex;  
    justify-content: space-around;    
    gap: 5px;
}